.sch-form {position: relative;}
#btReset {position: absolute; top: 12px; right: 12px; cursor: pointer;}

.prd-wrap {display: flex; flex-wrap: wrap;}
.prd {flex: 23% 0 0; margin: 1%; padding: 12px; box-shadow: 0 0 10px rgba(0,0,0,0.3); border: 1px solid #999;}
.prd h3 {font-size: 1.5rem;}
.prd h4 {font-size: 1.25rem;}

/* Responsive */
@media screen and (max-width: 992px) {
	
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px) {

}